@tailwind base;
@tailwind components;
@tailwind utilities;

.noise_bg {
    /* white to black linear noise gradient spanning from top to bottom */
    background:
        url('noise_square-min.png'),
        linear-gradient(#0D1429, 70%, #fff);
}

.noise_bg_2 {
    background:
        url('noise_square-min.png'),
        #1D1E21
}

.adaptive_text {
    font-size: clamp(calc(var(--font-size-min) * 1px), calc((var(--font-size-min) * 1px) + (var(--font-size-max) - var(--font-size-min)) * ((100vw - (var(--font-view-min) * 1px)) / var(--font-view-max))), calc(var(--font-size-max) * 1px));
}